/* B-side 'wide' scheme
 * - For documents written with inline asides (sidenotes and footnotes)
 * -- expects markup based on Docutils (reStructuredText, not Markdown)
 */


/****************************************************************************/
/* Asides */

table.footnote {
	float: right;
	clear: both;
	width: 50%;
	text-align: right;

	border-right: solid 1px #808080;
	border-left: none;
	border-top: none;
	border-bottom: none;
}
div.sidebar {
	float: right;
	clear: both;
	width: 40%;
	position: relative;
	text-align: right;

	background: #fffff6;
	border-right: solid 1px #808080;
	border-left: none;
	border-top: none;
	border-bottom: none;
}




/****************************************************************************/
/*
 * Be responsive...
 * -- these settings override 'mobile' values with a 'desktop' alternative
 */
/****************************************************************************/


/*
 * if too narrow, then transform fullwidth (wider) tables into long columns
 */
@media (max-width: 899px) {

	table.fullwidth thead,
	table.fullwidth tbody,
	table.fullwidth th,
	table.fullwidth td,
	table.fullwidth tr {
		display: block;
	}
	table.fullwidth tr {
		border-bottom: 1px solid #cccccc;
		/* markup includes colgroup widths...
		 * we are forced to override preset widths */
		width: 300px;
		width: 90vw;
	}
	table.fullwidth th {
		text-align: left;
		border-bottom: 1px solid #eeeeee;
	}
	table.fullwidth td {
		text-align: right;
		border-bottom: 1px solid #eeeeee;
		padding-left: 50%;
	}
	table.fullwidth {
		border-bottom: none;
	}
}
